{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Get the most up to date news on News One </title>
    {% endif %}
  </head>
  <body> -->


  <!-- Content block -->
  {% block content %}
    <!-- Popular movie section -->
    <div class="container">
    <h3> All Sources</h3>

    <p>
      {% for status_sources in status %}
      <a href="{{status_sources.url}}">{{status_sources.name}}</a>
      <ul>
        <li>{{status_sources.description}}</li>

      </ul>
      {% endfor %}

    </p>
  </div>
  {% endblock %}
